<link href="~/Content/Css/Common/Carousel.css" rel="stylesheet" />

<div id="HomeCarousel" class="carousel"></div>

<script src="~/Scripts/Lib/Carousel.js"></script>
<script>CreateCarousel("HomeCarousel", "/Home/GetCarouselImages");</script>
