@{
    Layout = "~/Views/Shared/_doubleSmallLong.cshtml";
}
<link href="~/Content/Css/Home/Index.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.multiselect.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/JqGridStyle.css" rel="stylesheet" />

@section LeftContent{
    @Html.Partial("Carousel")
}

@section RightContent{
    <div id="BirthdaySection">
        <div class="birthdayItem fieldset">
            <table id="BirthdayLastWeekGrid"></table>
            <div id="jqGridPagerLast"></div>
        </div>
        <div class="birthdayItem fieldset">
            <table id="BirthdayTodayGrid"></table>
            <div id="jqGridPagerToday"></div>
        </div>
        <div class="birthdayItem fieldset">
            <table id="BirthdayNextWeekGrid"></table>
            <div id="jqGridPagerNext"></div>
        </div>
    </div>
}

<div id="DetailsModal" class="modalContainer">
    @Html.Partial("../Collaborator/DetailsModal")
</div>
<script src="~/Scripts/Lib/Modal.js"></script>

<script src="~/Scripts/JqGrid/jquery.min.js"></script>
<script src="~/Scripts/JqGrid/jquery-ui.min.js"></script>
<script src="~/Scripts/JqGrid/ui.multiselect.js"></script>
<script src="~/Scripts/JqGrid/grid.locale-es.js"></script>
<script src="~/Scripts/JqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/JqGrid/context-menu.js"></script>

<script src="~/Scripts/Lib/Home/BirthdayLastWeekTable.js"></script>
<script src="~/Scripts/Lib/Home/BirthdayNextWeekTable.js"></script>
<script src="~/Scripts/Lib/Home/BirthdayTodayTable.js"></script>