
src/PsiCollaboratorManager/obj/Debug/PsiCollaboratorManager.pdb
src/PsiCollaboratorManager/obj/Debug/PsiCollaboratorManager.dll
src/PsiCollaboratorManager/obj/Debug/PsiCollaboratorManager.csproj.FileListAbsolute.txt
src/PsiCollaboratorManager/obj/Debug/PsiCollaboratorManager.csproj.CoreCompileInputs.cache
src/PsiCollaboratorManager/obj/Debug/PsiCollaboratorManager.csproj.AssemblyReference.cache
src/PsiCollaboratorManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/PsiCollaboratorManager/bin/PsiCollaboratorManager.pdb
src/PsiCollaboratorManager/bin/PsiCollaboratorManager.dll
src/PsiCollaboratorManager/bin/PsiCollaborator.Data.pdb
src/PsiCollaboratorManager/bin/PsiCollaborator.Data.dll
src/PsiCollaboratorManager/.vs/PsiCollaboratorManager.csproj.dtbcache.json
src/PsiCollaborator.Data/obj/Debug/PsiCollaborator.Data.pdb
src/PsiCollaborator.Data/obj/Debug/PsiCollaborator.Data.dll
src/PsiCollaborator.Data/obj/Debug/PsiCollaborator.Data.csproj.FileListAbsolute.txt
src/PsiCollaborator.Data/obj/Debug/PsiCollaborator.Data.csproj.CoreCompileInputs.cache
src/PsiCollaborator.Data/obj/Debug/PsiCollaborator.Data.csproj.AssemblyReference.cache
src/PsiCollaborator.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/PsiCollaborator.Data/bin/Debug/PsiCollaborator.Data.pdb
src/PsiCollaborator.Data/bin/Debug/PsiCollaborator.Data.dll
src/PsiCollaborator.Data/.vs/PsiCollaborator.Data.csproj.dtbcache.json
src/.vs/PsiCollaboratorManager/v17/DocumentLayout.json
src/.vs/PsiCollaboratorManager/v17/.suo
src/.vs/PsiCollaboratorManager/FileContentIndex/f9d50c8b-9183-4652-ba67-d5c7c497a000.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/e298fcab-bab0-4582-8563-f73f3d1185e9.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/c44cfb75-9977-43e6-90a9-bfca67baba4c.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/7ee15c19-2f01-4e3a-8a8e-2b6261e96bc8.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/6b7c997f-68e4-4b07-9a94-fa84f492acb5.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/603a4e74-42ab-401c-ae37-51b3609b9bf7.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/4cbdb338-5ecd-4963-a22c-09c39b568f1e.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/28adb954-a771-4807-ad5a-d19a0d21b39c.vsidx
src/.vs/PsiCollaboratorManager/config/applicationhost.config
src/.vs/PsiCollaboratorManager/v17/.suo
src/.vs/PsiCollaboratorManager/FileContentIndex/fbc00367-0b3d-416d-aea8-e8846265372d.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/4bebebfa-fe63-4bfc-b012-b7916238ca27.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/2d9ad849-97cd-4185-a88f-30fbc5d88d10.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/7e053021-99dd-42a9-895b-3cfe171cc3b5.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/b8d9a514-1b35-4b00-a430-6c8f4c059359.vsidx
src/.vs/PsiCollaboratorManager/v17/.suo
src/.vs/PsiCollaboratorManager/v17/.suo
src/.vs/PsiCollaboratorManager/FileContentIndex/226c8d84-2f4d-45aa-bb50-19630ee89a3c.vsidx
src/.vs/PsiCollaboratorManager/FileContentIndex/8b26342a-b0bf-44ca-837c-fbbefb8f4bb2.vsidx
