@{
    ViewBag.Title = "AssignSchedule";
    Layout = "~/Views/Shared/_basicBig.cshtml";
}
<script src="~/Scripts/ListBox.js"></script>
<link href="~/Content/JQGridTheme/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.multiselect.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/JqGridStyle.css" rel="stylesheet" />

<link href="~/Content/Css/Collaborator/AssignSchedule.css" rel="stylesheet" />

<div id="AssignScheduleContent">
    <div id="ScheduleSection" class="fieldset">
        @Html.DropDownList("Schedules", ViewBag.Schedules as List<SelectListItem>, htmlAttributes: new { id = "selectSchedule" })
        <table id="tableScheduleInfo" class="tableDetail" style="display:none">
            <thead>
                <tr class="even">
                    <th>Día</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
    <div id="UnassignedCollaboratorList" class="fieldset">
        <div class="container_listbox">
            <div class="select_1">
                @Html.DropDownList("select1[]", ViewBag.CollaboratorsWithoutSchedule as List<SelectListItem>, htmlAttributes: new { id = "select1", @class = "selectScheduleAssignation", @multiple = "multiple" })
            </div>
            <div class="operators">
                <div class="operator add_all" onclick="add_all('select1','select2',false,'values_selecteds_listbox');"> >> </div>
                <div class="operator add" onclick="add('select1','select2',false,'values_selecteds_listbox');"> > </div>
                <div class="operator remove" onclick="add('select2','select1',true,'values_selecteds_listbox');"> < </div>
                <div class="operator remove_all" onclick="add_all('select2','select1',true,'values_selecteds_listbox');"> << </div>
            </div>

            <div class="select_2">
                <select id="select2" name="select2[]" class="selectScheduleAssignation" multiple="multiple"></select>
            </div>
        </div>
        <button id="btnAssign" class="button buttonSchedule btn btn-success">Asignar</button>
    </div>
    <div id="AssignedCollaboratorTable" class="fieldset">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        <div class="contextMenu" id="contextMenu">
            <ul>
                <li id="dismiss">
                    <span class="ui-icon ui-icon-pencil"></span>
                    <span>Quitar Horario</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/JqGrid/jquery.min.js"></script>
<script src="~/Scripts/JqGrid/jquery-ui.min.js"></script>
<script src="~/Scripts/JqGrid/ui.multiselect.js"></script>
<script src="~/Scripts/JqGrid/grid.locale-es.js"></script>
<script src="~/Scripts/JqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/JqGrid/context-menu.js"></script>

<script src="~/Scripts/Lib/Collaborator/AssignSchedule.js"></script>
<script src="~/Scripts/Lib/Collaborator/AssignScheduleTable.js"></script>