<link href="~/Content/Css/Layouts/_modal.css" rel="stylesheet" />
<link href="~/Content/Css/Layouts/_modalSmall.css" rel="stylesheet" />

<div class="modalSectionContainerSmall">
    <div class="modalSectionSmall">
        <div class="modalSectionSmallHeader messi-titlebox anim error">
            <h4 class="modalHeaderTitle">Modal Small Pthoto</h4>
            <img class="modalHeaderPhoto" src="~/Images/DefaultCollaborator.jpg">
        </div>
        <div class="modalSectionSmallContent">
            @RenderBody()
        </div>
    </div>
</div>

