<link href="~/Content/Css/Layouts/_modal.css" rel="stylesheet" />
<link href="~/Content/Css/Layouts/_modalMedium.css" rel="stylesheet" />

<div class="modalSectionContainerMedium">
    <div class="modalSectionMedium">
        <div class="modalSectionMediumHeader messi-titlebox anim error">
            <h4 class="modalHeaderTitle">Modal Medium</h4>
            <img class="modalHeaderCrown" src="~/Images/crownWhite.png" />
        </div>
        <div class="modalSectionMediumContent">
            @RenderBody()
        </div>
    </div>
</div>
