#AnnotationContent{
    display:flex;
    flex-direction:column;
    width:99%;
    padding:10px;
    gap:10px;
}
.annotationSection{
    width:100%;
    padding:10px;
}
#AnnotationSearchOptions {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap:10px;
}
.annotationFieldset{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
}