
.basicLargeSection {
    display: flex;
    justify-content:center;
    align-items:center;
}

.basicLargeMain {
    display: grid;
    grid-template-rows: 90px 75%;
    width: 80%;
    height: 100%;
    align-content: center;
}

.basicLargeMainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #be2126;
    color: white;
    padding-left: 30px;
}

#SectionHeaderCrown {
    width: 80px;
    height: 80px;
}

.basicLargeMainContent {
    overflow: auto;
    background-color: var(--section-background-color);
}

#SecionHeaderPicture {
    position:relative;
    width: 150px;
    border-radius: 100px;
}

#SectionHeaderTitle {
    margin-left: 30px;
}
