.basicSmallSection {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.basicSmallMain {
    display: grid;
    grid-template-rows: 90px 30%;
    width: 50%;
    height: 100%;
    align-content: center;
}

.basicSmallMainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #be2126;
    color: aliceblue;
    padding-left: 30px;
}

#SectionHeaderCrown {
    width:80px;
    height:80px;
}

.basicSmallMainContent {
    background-color: var(--section-background-color);
    overflow: auto;
}


