:root {
    --nav-width: 330px;
    --body-background-color: #f5f5f5;
    --section-background-color: #eaeaea;
}
/*To Normalize*/
h3, h4, h6 {
    margin: 0px !important;
}
/**************/

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: absolute;
    display: grid;
    grid-template-areas:
        'nav header'
        'nav section'
        'nav footer';
    grid-template-columns: var(--nav-width) auto;
    grid-template-rows: 70px calc(100% - 120px) 50px;
    background-color: #000000;
    font-family: Roboto, Noto, sans-serif;
}

.toogle-nav {
    --nav-width: 78px;
}

header {
    grid-area: header;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    color: #FFFFFF;
}

#HeaderLeft{

}
#PathwayCrown {
    width: 65px;
    height: 65px;
}
#HeaderCenter{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#HeaderRight {
    display: flex;
    align-items:center;
}
header i{
    margin-left:10px;
    font-size:40px;
    cursor:pointer;
}
header i:hover{
    color:#e0e0e0
}
header i:active{
    color:#c0c0c0
}

nav {
    grid-area: nav;
    width: var(--nav-width) !important;
    border-right: 1px solid #f5f5f5;
}

.dropMenuOption {
    cursor: pointer;
}

section {
    grid-area: section;          
    background-color: var(--body-background-color);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 15px;
}