<!--<connectionStrings>
	<add name="postgres" connectionString="Server = localhost; Port = 5433; Database = RH_PSICollaboratorManagementDB; UserId= rh_psicollaboratormanagementdb; Password = PSICOLLABORATORMgr;" providerName="Npgsql" />
</connectionStrings>-->

<connectionStrings>
	<add name="postgres" connectionString="Server = localhost; Port = 5433; Database = RH_PSICollaboratorManagementDB3; UserId= rh_psicollaboratormanagementdb3; Password = PSICOLLABORATORMgr;" providerName="Npgsql" />
</connectionStrings>
