@{
    ViewBag.Title = "AnnotationType";
    Layout = "~/Views/Shared/_basicSmall.cshtml";
}

<link href="~/Content/JQGridTheme/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.multiselect.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/JqGridStyle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link href="~/Content/Css/AnnotationType/Index.css" rel="stylesheet" />

<div id="AnnotationTypeContent">
    <div id="AnnotationTypeTable" class="fieldset">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="~/Scripts/jqGrid/jquery.min.js"></script>
<script src="~/Scripts/jqGrid/jquery-ui.min.js"></script>
<script src="~/Scripts/jqGrid/ui.multiselect.js"></script>
<script src="~/Scripts/jqGrid/grid.locale-es.js"></script>
<script src="~/Scripts/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Lib/Annotation/AnnotationTypeTable.js"></script>