#CollaboratorContainer {
    display:grid;
    grid-template-rows: 50px calc(100% - 60px);
    padding:10px;
    gap:10px;
    width:99%;
}
.searchOptions {
    display: flex;
    align-items: center;
    padding-left:10px;
    gap:10px;
}
#CollaboratorTable{
    padding:10px;
    overflow-y:auto;
    overflow-x:hidden;
}

#AssistanceContainer {
    display: grid;
    grid-template-rows: 50px calc(100% - 120px) 50px;
    padding: 10px;
    gap: 10px;
    width: 99%;
    height:100%;
}

#AssistanceTable {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#TotalHoursWorked {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}