
@{
    ViewBag.Title = "New Annotation";
    Layout = "~/Views/Shared/_basicMedium.cshtml";
}

<link href="~/Content/JQGridTheme/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.multiselect.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/JQGridTheme/JqGridStyle.css" rel="stylesheet" />

<link href="~/Content/Css/Annotation/NewAnnotation.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<div id="NewAnnotationContent">
    <div id="DivTableEmployees" class="fieldset">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="~/Scripts/jqGrid/jquery.min.js"></script>
<script src="~/Scripts/jqGrid/jquery-ui.min.js"></script>
<script src="~/Scripts/jqGrid/ui.multiselect.js"></script>
<script src="~/Scripts/jqGrid/grid.locale-es.js"></script>
<script src="~/Scripts/jqGrid/jquery.jqGrid.min.js"></script>

<script>
    $grid = $("#jqGrid").jqGrid({
        url: '@Url.Action("GetData", "Annotation")',
        mtype: 'GET',
        datatype: 'json',
        shrinkToFit: true,
        colModel: [
            {label: 'Id', name: 'CollaboratorId', width: 50, minWidth: 20, editable: false, key: true, hidden: true, align: 'center'},
            {label: 'Nombre', name: 'FirstName', width: 200, minWidth: 200, editable: false, align: 'center',headerClasses: 'my-column', cellattr: function () { return 'class="my-column"';}},
            { label: 'Apellidos', name: 'LastName', width: 200, minWidth: 200 },
            { label: 'Cedula', name: 'DNICollaborator', width: 200, minWidth: 200, hidden: true },
            { label: 'Operador', name: 'OperatorNumber', align: 'center', width: 200, minWidth: 200 },
            {label: 'E-mail', name: 'Email', width: 200, minWidth: 200,formatter: 'email'}
        ],

        onInitGrid: function () {
            $("<div class='alert-info-grid'>No Record(s) Found</div>").insertAfter($(this).parent());
        },

        loadComplete: function () {
            var $this = $(this), p = $this.jqGrid("getGridParam");
            if (p.reccount === 0) {
                $this.hide();
                $this.parent().siblings(".alert-info-grid").show();
            } else {
                $this.show();
                $this.parent().siblings(".alert-info-grid").hide();
            }
        },
        resizeStop: function (newWidth, index) {
            var colModel = $(this).jqGrid('getGridParam', 'colModel');
            var column = colModel[index];

            console.log(newWidth);
            if (column.width < column.minWidth) {
                $(this).jqGrid('setGridParam', {
                    colModel: colModel
                }).trigger('resize');
            }
        },

        loadonce: true,
        altRows: true,
        pager: '#jqGridPager',
        rowNum: 20,
        rowList: [10, 20, 30, 50],
        viewrecords: true,
        rownumbers: true,
        sortable: true,
        shrinkToFit: true,
        autowidth: true,
        autoresizeOnLoad: true,
        autoresizeOnResize: true,
        height: '100%',
        multiselect: true,
        onSelectRow: function (a, b, c) {
            if (this.p.selarrrow.length === currids.length) {
                $('#cb_' + $.jgrid.jqID(this.p.id), this.grid.hDiv)[this.p.useProp ? 'prop' : 'attr']("checked", true);
            }
        },
        gridComplete: function () {
            currids = $(this).jqGrid('getDataIDs');
        }
    });
    $(window).on("resize", function () {

        $("#jqGrid").jqGrid("setGridWidth", $("#jqGrid").closest(".ui-jqgrid").parent().width());
    });
    $('#jqGrid').navGrid('#jqGridPager',
        { edit: false, add: false, del: false, search: true, refresh: true, view: false, position: "left", cloneToTop: true }, { multipleSearch: true, multipleGroup: true });

    $('#jqGrid').navButtonAdd('#jqGridPager',
        {
            buttonicon: "ui-icon-calculator",
            title: "Column chooser",
            caption: "Columnas",
            position: "last",
            onClickButton: function () {
                jQuery("#jqGrid").jqGrid('columnChooser', {
                    done: function (numColumn) {
                        $("#jqGrid").jqGrid('setGridParam', {
                        }).trigger('resize');
                    }
                });
            }
        }
    );

    $('#jqGrid').navButtonAdd('#jqGridPager',
        {
            buttonicon: "ui-icon-plusthick",
            title: "Nueva Anotación",
            caption: "Nueva Anotación",
            position: "last",
            onClickButton: getSelectedRows
        }
    );

    function getSelectedRows() {
        var grid = $("#jqGrid");
        var rowKey = grid.getGridParam("selrow");

        if (!rowKey) {
            new Messi('Favor seleccione un colaborador para agregar una anotación.', {
                title: 'Seleccione Colaborador',
                titleClass: 'anim warning',
                modal: true,
                styles: {
                    width: '500px',
                    marginLeft: '170px',
                    marginTop: '-164px'
                }
            });
        }
        else{
            var selectedIDs = grid.getGridParam("selarrrow");
            var lista = [];
            for (var i = 0; i < selectedIDs.length; i++) {
                var id = $("#jqGrid").jqGrid('getCell', selectedIDs[i], 'CollaboratorId');
                var namet = $("#jqGrid").jqGrid('getCell', selectedIDs[i], 'FirstName');
                var lastName = $("#jqGrid").jqGrid('getCell', selectedIDs[i], 'LastName');
                lista.push(id);
            }
            var dictJson = JSON.stringify(lista);
            location.href = '@Url.Action("CreateAnnotation", "Annotation")' + '?collaboratorsDictJson=' + encodeURIComponent(dictJson);
        }
    }
    function resizeJqGridWidth(grid_id, div_id, width) {
        $(window).bind('resize', function () {
            $('#' + grid_id).setGridWidth(width, true);
            $('#' + grid_id).setGridWidth($('#' + div_id).width(), true);
        }).trigger('resize');
    }
</script>